@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'flowbite';

html, body {
  height: 100%;
  margin: 0;
  overflow-x: hidden; /* Prevent horizontal scrolling */
  background: linear-gradient(
    135deg,
    #c7d9ff 0%,
    #e6eeff 50%,
    #ffe6e6 100%
);
}

#root, #__next {
  height: 100%;
}

.sidebar {
  width: 250px;
  transition: width 0.3s;
  height: calc(100vh - 64px); /* Adjust 64px if your navbar height is different */
  overflow-y: auto;
}

.sidebar.collapsed {
  width: 80px;
}

.content {
  flex: 1;
  overflow-y: auto;
}

.sidebar-container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.toggle-button {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.cloud-textarea {
  border: 0.5px grey dotted;
  border-radius: 8px;
  opacity: 0.9;
}

/* New styles for better mobile support */
@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto;
  }

  .content {
    height: calc(100vh - 64px); /* Adjust based on your navbar height */
    overflow-y: auto;
  }
}

/* Styles for SwipeCards */
.swipe-card-container {
  width: 100%;
  height: calc(100vh - 64px); /* Adjust based on your navbar height */
  overflow: hidden;
  position: relative;
}

.swipe-card {
  position: absolute;
  width: 90%;
  max-width: 400px;
  height: 70vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.cloud-shape {
  animation: float 6s ease-in-out infinite;
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.5));
  transition: all 0.3s ease;
}
